html {
    background-color: #1b1b1b;
}

body {
    background-color: #1b1b1b;
}

span.SidebarMenuButton-sidebarMenuPrimaryTitle-2_fxH {
    color: #ff0072;
}

div.DisclosureArrow-disclosureArrow-1KPaB.DisclosureArrow-down-3lf_G.DisclosureArrow-up-L-Dw3.DisclosureArrow-default-_QTDZ.DisclosureArrow-medium-20Idw.DisclosureArrow-isSelected-QMJhD {
    color: #ff0072;
}

button.PageHeaderBreadcrumbButton-button-ZRyx6.DisclosureArrowButton-disclosureArrowButton-11LSb.DisclosureArrowButton-medium-3zt1W.DisclosureArrowButton-isSelected-1aPl5.Link-link-2n0yJ.Link-default-2XA2b.Link-isSelected-IRm9u {
    color: #ff0072;
}

i.plex-icon-navbar-home-560.NavBarIconButton-icon-2gdVP {
    color: #ff0072;
}

div.HubCell-title-UFv40.HubCellTitle-hubCellTitle-2abIn {
    color: #ff0072;
}

i.plex-icon-navbar-back-560.NavBarIconButton-icon-2gdVP {
    color: #ff0072;
}

div.PageHeaderLeft-pageHeaderLeft-OxyzP span {
    color: #ff0072;
}

i.plex-icon-search-560.QuickSearchInput-searchIcon-38PAh {
    color: #ff0072;
}

div.QuickSearchInput-container-1HiCo {
    background-color: #ffffff;
    color: #000000;
}
